.dinhnghia{
    max-width: 1000px;
    margin: 0px;
}
.dinhnghia>nav{
    line-height: 40px;
    background-color: black;
    color:#fff;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
   margin-top: -28px;
}