*{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
ul{
    list-style: none;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 0px 0px;
   transition: all 0.2s;
    z-index: 999;
    background-color:black;
    opacity: 0.7;

}
header.sticky{
    background-color:black;
     opacity: 0.9;
    margin: -10px 0px;
}
header.sticky #main-menu{
    color: black;
}
header.sticky.button-container{
    color: black;
}
a{
    text-decoration: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    
}
.container{
    max-width: 1200px;
    margin: 0px auto;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#main-menu a{
    text-transform: uppercase;
    padding: 10px 20px;
    color: white;
    display: block;
    font-weight: bold;
    position: relative;
}
ul#main-menu a::after{
    content: "";
    height: 5px;
    width: 0px;
    background-color: #17e0e0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.25s ease-in-out;
}
ul#main-menu a:hover:after{
    width: 40%;
    transform: translateX(75%);
    
}
a:hover{
    text-shadow: 0px 0px 5px #17e0e0;
}

#dangnhap{
    text-transform: uppercase;
    padding: 10px 20px;
    color: white;
    display: block;
}
ul#main-menu{
    
    display: flex;
}
#banner{
    min-height: 480px;
    width: 100%;
}
#banner{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.khauhieu{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:  0px 0px 20px #C19A6B;
    font-size: 32px;
    color: #fff;
    z-index: 2;
}
#logo{
    margin-left: -60px;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button[type="submit"] {
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: transparent;
}

button[type="submit"] span {
    margin-left: 10px;
}

.fa-user {
    font-size: 24px;
    font-size: 15px;
    padding-left: 5px;
   
}
.button-container:hover{
    background-color: rgb(255, 204, 0);
    border-radius: 5px;
}
.nentang {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
  .nentang1 {
    margin: 0 10px;
  }
 .nentang1 img:hover{
    filter: brightness(150%);
    
  }
  .fa-angles-down{
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 49%;
    color: #fff;
    font-size: 25px;
  }
  .main {
    margin-top: -4px;
  }
  .tintuc {
    position: relative;
    z-index: 1;
    position: relative;
    height: 500px; 
    width: 100%;
    margin-top: -4px;
  }
  
  .anhnen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 85%;
    margin-left: 8%;
  }
  
  #slide {
    margin-top: 35%;
    width: 98%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .thongtin {
    margin-top: 35%;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
  
  .thongtin-1 {
    padding: 20px;
    position: absolute;
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
 .myslide{
    height: 100%;
    width: 100%;
 }
 .moi{
    padding-left: 30px;
    color: black;
    font-size: 25px;
    border-bottom: 1px solid black;
 }
 #thongtin-2{
   border-bottom: black;
   padding-top: 20px;
   padding-left: 30px;
   font-size: 20px;
  
 }
 .flex2{
    display: flex;
    width: 100%;
 
 }
 
 

















































